@inherits LayoutComponentBase

<div class="page">
  
  <nav class="navbar navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="#">
      <img src="https://stryker-mutator.io/images/stryker.svg" width="32" height="32" class="d-inline-block align-top" alt="Stryker Mutator Logo">
      <strong class="navbar-title">Stryker Playground</strong>
    </a>
  </nav>

  <main class="main">
    <div class="p-2" style="height:100%;">
      @Body
    </div>
  </main>
  
</div>