@page "/"

<div id="editors-wrapper" class="row">
    <div class="col-md col-sm-2 editor-wrapper">
        <StandaloneCodeEditor @ref="TestCodeEditor" Id="test-editor" CssClass="playground-editor row" ConstructionOptions="PlaygroundConstants.EditorOptions"/>
    </div>
    
    <div class="col-md col-sm-2 editor-wrapper">
        <StandaloneCodeEditor @ref="SourceCodeEditor" Id="source-editor" CssClass="playground-editor row" ConstructionOptions="PlaygroundConstants.EditorOptions"/>
    </div>
</div>

<div id="terminal-wrapper" class="row">
    <Xterm @ref="Terminal" Options="PlaygroundConstants.XTermOptions" OnFirstRender="@OnFirstRender"/>
</div>

